<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Judge</title>
    <link rel="stylesheet" href="styles.css" >
    <link rel="icon" href="../../public/images/MovieJudge_Logo_icon.svg" >
</head>
<body>
    <nav>
        <a>code</a>
        <a></a>
    </nav>
<main>

